.sectionWrapper {
    width: 90%;
    max-width: 1385px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;

    height: 250vh;
}

.sticky {
    position: sticky;
    top: 100px;
    height: calc(100vh - 90px);
}

.title {
    margin-top: 45px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 0px 0px 110px rgba(0, 0, 0, 0.5);
    font-size: var(--section-h2);
    font-style: normal;
    font-weight: 600;
    line-height: 115%;

    background: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twoColumnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 130px;
    justify-items: center;
    gap: 40px;
}

.container {
    height: 80vh;
}

.imageHolder {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    position: relative;
}
.imageSetup {
    opacity: 1;
}

.enterSSID {
    opacity: 0;
}

.textHolder {
    position: relative;
    width: 100%;
}

.text {
    position: absolute;
    text-shadow: 0px 0px 110px rgba(0, 0, 0, 0.5);
    font-size: var(--Computer-content-big);
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade_out {
    animation: fadeOut 0.3s ease-out forwards;
}

.fade_in {
    animation: fadeIn 0.6s cubic-bezier(0.76, 0.19, 0.29, 1.03) 0.3s forwards;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 768px) {
    .twoColumnContainer {
        grid-template-columns: 1fr;
        margin-top: 60px;
        justify-items: center;
        gap: 60px;
    }
    .text {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .sectionWrapper {
        width: 95%;
    }
    .twoColumnContainer {
        grid-template-columns: 1fr;
        margin-top: 40px;
        justify-items: center;
        gap: 40px;
    }
    .text {
        font-size: var(--Computer-content-small);
        text-align: center;
        width: 100%;
    }
}