.tableSection {
    width: 100%;
    padding: 130px 0px 100px 0px;
    justify-content: center;
    align-items: center;
}

/*Styling for headers */
@keyframes slideInFromBottom {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide_in_from_button {
    animation: slideInFromBottom 0.9s cubic-bezier(0.34, 0.35, 0.19, 1.23) 0.2s, fadeIn 0.6s cubic-bezier(0.76, 0.19, 0.29, 1.03) 0.2s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fading_out {
    animation: fadeOut 0.5s ease-out forwards;
}
/*Styling for headers end */

.tableTitle {
    text-align: center;
    font-size: var(--section-h1);
    font-style: normal;
    font-weight: 600;
    line-height: 115%;


    background: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
}

.tableCol2 {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 40px; 
    max-width: 1385px;
    margin-right: auto;
    margin-left: auto;
}

.tableCol1 {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 60px; 
    max-width: 1385px;
    margin-right: auto;
    margin-left: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInCell {
    animation: fadeIn 1.5s cubic-bezier(0.76, 0.19, 0.29, 1.03) 0s forwards;
}

.centerAlign {
    width: 75%;
    max-width: 650px;
    text-align: center;

    opacity: 0;
}

.leftAlign {
    width: 75%;
    max-width: 650px;
    text-align: left;
    opacity: 0;
}

.heading {
    font-size: var(--Computer-content-big);
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.colorful {
    background: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    margin-top: 23px;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
}


@media screen and (max-width: 1280px) {
    .text {
        margin-top: 23px;

        font-size: var(--Computer-content-small);
        font-weight: 600;
        line-height: 115%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 500px) {

    .tableSection {
        width: 100%;
        padding: 60px 0px 50px 0px;
    }

    .tableCol2 {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
    .leftAlign {
        text-align: center;
    }

}
