.buttonSmall {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 154px;

    border-radius: 8px;
    background: var(--Background_1);

    color: var(--Text_1);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.buttonSmall:hover {
    border: 1px solid var(--Text_1);
}

.buttonBig {
    display: flex;
    width: 558px;
    height: 73px;
    max-width: 558px;
    max-height: 73px;
    padding: 10px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
background: var(--Background_2, #262626);
/* website image */
box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.50), 0px 4px 60px 0px rgba(0, 0, 0, 0.30) inset;

color: var(--Accent_1);
text-align: center;
font-family: Roboto;
font-size: var(--Computer-content-small);
font-weight: 500;
}

.buttonBig:hover {
    border: 1px solid var(--Text_1);
}

@media screen and (max-width: 1439px) {
    .buttonBig {
        width: 380px;
        height: 65px;
        padding: 10px 24px;
    }
}

@media screen and (max-width: 1280px) {
    .buttonBig {
         width: 200px;
         height: 40px;
         padding: 5px 14px;
    }
}

@media screen and (max-width: 768px) {
    .buttonSmall {
        display: flex;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 115px;
        font-size: 14px;

        border-radius: 8px;
    }
}

@media screen and (max-width: 500px) {
    .buttonSmall {
        display: flex;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 95px;
        font-size: 11px;

        border-radius: 8px;
    }
}